altgraph==0.17.4
blinker==1.9.0
cffi==1.17.1
click==8.1.8
cryptography==44.0.0
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.1
PGPy==0.6.0
pyasn1==0.6.1
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyperclip==1.9.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
qt-material==2.14
setuptools==75.3.0
SQLAlchemy==2.0.37
typing_extensions==4.12.2
Werkzeug==3.1.3
